:host
  padding-top: 7rem
  height: 100%
  width: 100%
  flex: 10

.container-create-user
  background: var(--primary)
  border-radius: 0.5rem

span
    & a
        color: var(--text) !important

        &:hover
            color: var(--secondary) !important
